<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- мир коридора -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <env name="GAZEBO_MODEL_PATH" value="$(find polygone_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find polygone_gazebo)/worlds/polygone.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    <!-- aruco marker -->
    <include file="$(find polygone_aruco_objects)/launch/flat_object.launch">
        <arg name="name" value="marker"/>
        <arg name="aruco_id" value="13"/>
        <arg name="x" value="4."/>
        <arg name="y" value="0."/>
        <arg name="z" value="0.2"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="1.04719755119"/>
    </include>
    
    <node pkg="test_robot_config" type="marker_moves.py" name="marker_moves" output="screen" />
    
</launch>
